* {
    margin: 0px;        /*外边距*/
    padding: 0px;       /*内边距*/
}


.header{
    height: 60px;
    line-height: 60px;
}


.header .nav{
    list-style: none;       /*去除圆点*/
}



.header .nav::after{
    content: "";
    clear: both;
    display: block;
}



/* 清除浮动 */
  .header .nav li{        
    float: right;
    margin-right: 20px;     /*设置间距*/
}


/* 设置字体颜色，大小*/
.header .nav li a {
    color: #333;
    font-weight: 700;       /*字体粗细*/
    font-size: 16px;        /*字体大小*/
}


/* 设置鼠标指到目标后显示为蓝色 */
.header .nav li a:hover{
    color: #00c;
}


.header .nav li .gray{
    font-weight: 100;       /*字体粗细*/
}


.header .nav li .more {
    background-color: #38f;     /*设置背景颜色*/
    text-decoration: none;        /*去除下划线*/
    font-weight: 400;
    color: #0fff;
    padding: 4px;       /*设置内边距*/      
}


/*search 样式*/

.search{
    margin-top: 40px;
}


.search .logo{
    text-align: center;     /*logo水平居中*/
}


.search .logo img{ 
    width: 270px;       /*设置logo大小*/
    height: 129px;
}


.search .keyWord{
    margin: 20px;
    text-align: center;     /*文本水平居中对齐*/
}


.search .keyWord form div{
    display: inline-block;      /*变为独占一行的块级元素*/
}


/* 设置相对定位 */
/.search .keyWord form .inpWrapper{
    position: relative;                            

} 


/* 设置输入框 */
.search .keyWord form .inpWrapper input{
    width: 539px;
    height: 34px;
    border: 1px solid #b6b6b6;      /* 设置一个方框 */
}


.search .keyWord form .inpWrapper span{
    position: absolute;
    right: 10px;
    top: 50%;
    width: 30px;
    height: 30px;
    background-image: url("../img/camera.png");     /* 在元素背景中添加一个图案 */
}


/* 设置提交按钮 */
.search .keyWord form .btnWrapper input{
    width: 100px;
    height: 38px;
    background: #3385ff;
    cursor: pointer;
    color: #0fff;
    font-size: 15px;
    border: none;
}


/* info */
.info{
    margin-top: 270px;      /* 属性的上外边距 */
    text-align: center;     /* 所有文本中间对齐 */
}


/* 设置Qrcode大小 */
.info .Qrcode img{
    width: 100px;
    height: 100px;
}


.info .Qrcode p{
    margin-top: 4px;
    font-weight: 600;
    font-size: 12px;
}


.info .message{
    margin-top: 15px;       /* 设置上边距 */
}

.info .message p{
    padding: 5px 0px;
}

.info .message p a{
    color: #999;
    font-size: 12px;
    margin-left: 10px;      /* 设置左边距 */
}


.info .message p span{
    color: #999;
    font-size: 12px;
}


.search .btnWrapper{
    margin-left: -5px;
    margin-top: -10px;
}



